
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Tektur&display=swap');


body{
    font-family: 'Fjalla One', sans-serif;
    background-color: rgba(19, 148, 55, 0.475);
    color: white;
    margin: 0;
}
header{
    text-align: center;
    padding: 10px;
   

}
nav{
text-align:left;
text-decoration:none;
}
a.links{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
a:hover{
    color: #80cfa9;
  
}

.gradient-box {
    background-image: linear-gradient(to bottom, #08b44adb, #0a7d0a); /* Degradê vertical de vermelho (#ff0000) para verde (#00ff00) */
  }
section{
    margin: 0px 120px 5px 120px;
    padding-top: 20px;
    padding-left: 0%;
    padding-right: 0%;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace, serif;
    box-shadow: 11px 7px 24px -2px black;
}
p{
    padding-left: 60px;
    padding-right: 60px;
}

.h1-estilo-1{
    font-family: 'Tektur', cursive;
    font-size: 30px;
    text-align: center;
    color: #116e4ac2;
    margin-top: 5px;
  
    background-image: linear-gradient(to right, #32953c,#639d63,#84da84,#9dd79d,#c5efc5,#dfffdf);
}
.h2-estilo-1{
    font-family: 'Tektur', cursive;
    font-size: 20px;
    text-align: center;
    color: #116e4ac2;
    margin-left: 0;
    margin-right: 0;
    background-image: linear-gradient(to right, #32953c,#639d63,#84da84,#9dd79d,#c5efc5,#dfffdf);
}
.android-1{
  
    display: flex;
    justify-content: center;
    
}
aside{
    color: #085337c2;
    margin-left: 30px;
    font-weight: bold;
}
.video{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #388659, #32953c,#9dd79d);
    
}

/* Estilo para a lista com símbolo de verificado */
.verificados {
    list-style-type: none; /* Remover marcadores padrão da lista */
    background-color: #86e7b8;
    border-radius: 0px 0px 20px 20px;
    margin: 0px 40px 0px 40px;
    color: black;
    padding: 20px 0px 20px 0px;
    box-shadow: 2px 6px 13px 4px

    
  }
  
  .verificados li {
    position: relative;
    padding-left: 30px; /* Espaço para o símbolo de verificação */
    
   
  }
  
  .verificados li::before {
    content: "\2713"; /* Código unicode para o símbolo de verificação (✓) */
    position: absolute;
    left: 0;
  }
  .h3-estilo-1{
    font-family: 'Tektur', cursive;
    font-size: 20px;
    text-align: center;
    margin: 5px 40px 0px 40px;
    background-color:#116e4ac2;
    color: white;
    padding: 20px 0px 20 0pxpx;
    border-radius: 20px 20px 0px 0px;
  }
  .footer{
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  